*{ font-family:monospace; color:white; font-size:20px;}
body{ background-color:#242424; }
table{  border-collapse: collapse; }
td{ width:35px; height:35px; text-align:center; border:1px solid #707070; }
	button{ color:black; }

.TS{ background-color:#80DEEA; }
.TL{ background-color:#62B360; }
.TC{ background-color:#D3C933; }
.TERR{ background-color:red; }